@import url('https://fonts.googleapis.com/css2?family=Geologica&display=swap');
* {
	font-family: Geologica;
	box-sizing: border-box;
}
.board {
	margin: 25px auto;
	border-radius: 0.5rem;
	background-color: #F9F5F6;
	width: 75vw;
	padding: 10px;
}
.top {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #ffffff;
	padding: 15px 0;
	border-radius: 5px 0 0 0;
}
.board-title {
	color: black;
	margin-left: 10px;
}
.bottom {
	min-height: 30vh;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px;
	align-items: start;
	padding-top: 10px;
}
.section-title {
	display: flex;
	align-items: center;
	height: 45px;
	background-color: #ffffff;
	padding: 5px 0;
}
.title {
	color: black;
	width: fit-content;
	font-size: 20px;
	margin-left: 25px;
}
.section {
	display: flex;
	width: 100%;
	height: fit-content;
	flex-direction: column;
	height: fit-content;
	background-color: chocolate;
	margin-top: 10px;
}

.color-new { background-color: #fee4f6; }
.color-in-progress { background-color: #e1eefd; }
.color-testing { background-color: #fbf799; }
.color-done { background-color: #e5f9e2; border-radius: 0 0 0 5px; }

.cards {
	width: 90%;
	display: flex;
	flex-direction: column;
	margin: 10px auto;
}

.card-title {
	width: fit-content;
	color: black;
	padding: 10px;
	margin-bottom: 5px;
	background-color: #ffffff;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
}
input {
	color: black;
	padding: 10px;
	margin-bottom: 5px;
	background-color: #ffffff;
	border-radius: 5px;
	font-size: 1em;
}
input:focus { 
	width: 100%;
	outline: none;
	border: none;
	border-bottom: 4px solid black;
}
.hiden-card-info {
	display: none;
}
.card-title:hover + .hiden-card-info {
	transition: 0.3s;
	display: block;
	position: absolute;
	padding: 10px;
	background-color: #20262E;
	color: #ffffff;
	width: fit-content;
	border-radius: 5px;
}
.hiden-card-info h4,
.hiden-card-info p {
	margin: 0;
}
.card-title:hover {
	transition: 0.3s;
	background-color: #F9F5F6;
}


.add-new-task-button {
	margin-left: auto;
	font-family: inherit;
	font-size: 15px;
	background: royalblue;
	color: white;
	padding: 0.7em 1em;
	padding-left: 0.9em;
	display: flex;
	align-items: center;
	justify-content: space-around;
	border: none;
	border-radius: 20px 0 0 20px;
	overflow: hidden;
	transition: all 0.2s;
	position: relative;
	}
	
.add-new-task-button svg {
	display: block;
}
