<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <title> ProMan  </title>
</head>
<body>
        
    <form id="create-new-board-form" method="POST" action="/api/board">
         <input name="name" type="text" id="board_name" placeholder="name your board" required autocomplete="off">
        <button type="submit" id="create-new-board-button"> Create New Board! </button>
    </form>

    {% for board in boards %}
        <span style="margin: auto 5px;"> {{ board.title }} </span>
    {% endfor %}

    <br><br>

    <div id="boards">
    {% for board in boards %}
        <div class="board" id="{{ board.id }}">
            <div class="top">
                <h2 class="board-title">{{ board.title }}</h2>
                <div class="buttons">
                    <button class="board-management-button border-delete size-board margin-r-15" onclick="removeBoard('{{ board.id }}')">
                        <img src="{{ url_for('static', filename='images/delete.svg') }}" alt="remove_button">
                        <span class="tooltip background-delete"> DELETE </span>
                    </button>
                </div>
            </div>
            <div class="bottom">
                {% for status in ["new", "in-progress", "testing", "done"] %}
                    <div class="section color-{{ status }}">
                        <div class="section-title"> 
                            <h1 class="title">{{ status | upper }}</h1>
                            {% if status == "new" %}
                                <button class="add-new-task-button" onclick="addTask('{{ board.id }}')">
                                    <div class="svg-wrapper-1">
                                        <div class="svg-wrapper">
                                            <svg enable-background="new 0 0 50 50" width="24px" height="24px" id="Layer_1" version="1.1" viewBox="0 0 50 50">
                                                <rect fill="none" height="50" width="50"/>
                                                <line fill="none" stroke="#FFFFFF" stroke-miterlimit="10" stroke-width="4" x1="9" x2="41" y1="25" y2="25"/>
                                                <line fill="none" stroke="#FFFFFF" stroke-miterlimit="10" stroke-width="4" x1="25" x2="25" y1="9" y2="41"/>
                                            </svg>                                
                                        </div>
                                    </div>
                                    <span> ADD </span>
                                </button>
                            {% endif %}
                            
                        </div>
                        <div class="cards">
                            <div class="item" onclick="editTitle(this)">
                                <div class="card-title"> Card1 Test </div>
                                <div class="hiden-card-info">
                                    <h4> Info </h4>
                                    <p> Added: 07.06.2023 </p>
                                    <p> Author: Jack </p>
                                </div>
                            </div>
                            <div class="item" onclick="editTitle(this)">
                                <div class="card-title"> Card2 </div>
                                <div class="hiden-card-info"> clean your teeth </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>

    <script>

        function removeBoard(boardId) {
            let boardToDelete = document.getElementById(boardId);
            boardToDelete.remove();
            const xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function() {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {
                        console.log(xhr.responseText);
                    } else {
                        console.log(xhr.status);
                    };
                };
            };
            xhr.open('POST', '/remove-board');
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded;charset=UTF-8');
            xhr.send("title=" + boardId);
        };

document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('create-new-board-form').addEventListener('submit', function(e) {
                e.preventDefault();

                let boards = document.getElementById("boards")

                var form = e.target;
                var url = form.action;

                var data = {
                    name: form.name.value,
                };

                var xhr = new XMLHttpRequest();
                xhr.open('POST', url, true);
                xhr.setRequestHeader('Content-Type', 'application/json');

                xhr.onreadystatechange = function() {
                    if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                        var board = JSON.parse(xhr.responseText);
                        boards.innerHTML += `
        <div class="board" id="${board.id}">
            <div class="top">
                <h2 class="board-title">${board.title}</h2>
            </div>
            <div class="bottom">
                {% for status in ["new", "in-progress", "testing", "done"] %}
                    <div class="section color-{{ status }}">
                        <div class="section-title"> 
                            <h1 class="title">{{ status | upper }}</h1>
                            {% if status == "new" %}
                                <button class="add-new-task-button" onclick="addTask('${board.id}')">
                                    <div class="svg-wrapper-1">
                                        <div class="svg-wrapper">
                                            <svg enable-background="new 0 0 50 50" width="24px" height="24px" id="Layer_1" version="1.1" viewBox="0 0 50 50">
                                                <rect fill="none" height="50" width="50"/>
                                                <line fill="none" stroke="#FFFFFF" stroke-miterlimit="10" stroke-width="4" x1="9" x2="41" y1="25" y2="25"/>
                                                <line fill="none" stroke="#FFFFFF" stroke-miterlimit="10" stroke-width="4" x1="25" x2="25" y1="9" y2="41"/>
                                            </svg>                                
                                        </div>
                                    </div>
                                    <span> ADD </span>
                                </button>
                            {% endif %}
                            
                        </div>
                        <div class="cards">
                            <div class="item" onclick="editTitle(this)">
                                <div class="card-title"> Card1 Test </div>
                                <div class="hiden-card-info">
                                    <h4> Info </h4>
                                    <p> Added: 07.06.2023 </p>
                                    <p> Author: Jack </p>
                                </div>
                            </div>
                            <div class="item" onclick="editTitle(this)">
                                <div class="card-title"> Card2 </div>
                                <div class="hiden-card-info"> clean your teeth </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>`
                        // Handle the response from the server
                    } else if (xhr.readyState !== XMLHttpRequest.DONE) {
                        console.log('An error occurred');
                        // Handle any errors that occurred
                    }
                };

                var jsonData = JSON.stringify(data);
                xhr.send(jsonData);
            });
        });




        
        function addTask(boardID) {
            let board = document.getElementById(boardID);
            let cardsSection = board.querySelector('.section.color-new .cards');
            
            let newItem = document.createElement('div');
            newItem.classList.add('item');
            newItem.setAttribute('onclick', 'editTitle(this)');
            newItem.innerHTML = `
                <div class="card-title"> Deafult Task Name </div>
                <div class="hiden-card-info">
                    <h4> Informations </h4>
                    <p> Added: Today </p>
                    <p> Author: Unknown </p>
                </div>
            `;
            cardsSection.appendChild(newItem);
            editTitle(newItem);
        };

        function editTitle(element) {
            let cardTitle = element.querySelector('.card-title');
            let input = document.createElement('input');
            input.setAttribute('placeholder', 'Enter task name...')
            input.type = 'text';
            input.value = cardTitle.textContent;

            var saveChanges = function() {
                if (input.value.trim() !== '') {
                    cardTitle.textContent = input.value;
                }
                element.replaceChild(cardTitle, input);
            };

            input.addEventListener('blur', saveChanges);
            input.addEventListener('keydown', function(event) {
                if (event.key === 'Enter') {
                    saveChanges();
                }
            });

            element.replaceChild(input, cardTitle);
            input.focus();
        }
        // Move task to other section etc. New --> Testing
        function moveTask() { 
            let itemToMove
        }
    </script>
</body>
</html>